{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrahead %}
<link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
<script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const AREA_COLOR = [
            'match',
            ['get', 'plant_species'],
            'colza', '#d7191c',
            'grass', '#f69053',
            'lavender', '#daafc1',
            'taraxacum', '#90c6a9',
            'weed', '#90c6a9',
            '#000000'
        ];
        const APIARY_COLOR = [
            'match',
            ['get', 'bee_species'],
            'Apis Mellifera Mellifera', '#de7300',
            'Apis Mellifera', '#2da4ff',
            'Apis Mellifera Carnica', '#9d3796',
            '#000000'
        ];

        const map = new maplibregl.Map({
            container: "map",
            zoom: 14.4,
            center: [9.2572, 46.81],
            pitch: 60,
            style: {
                version: 8,
                glyphs: "https://vectortiles.geo.admin.ch/fonts/{fontstack}/{range}.pbf",
                sources: {
                    terrain: {
                        type: 'raster-dem',
                        url: "https://tiles.mapterhorn.com/tilejson.json",
                    },
                    swisstopo: {
                        type: "raster",
                        tiles: ["https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.swisstlm3d-karte-grau/default/current/3857/{z}/{x}/{y}.png"],
                        tileSize: 256,
                        attribution: "<a href='https://www.swisstopo.admin.ch'>Swisstopo</a>"
                    },
                    apiary: {
                        type: 'geojson',
                        data: '/oapif/collections/oapif_demo.apiary/items',
                        cluster: true,
                        clusterRadius: 12,
                    },
                    area: {
                        type: 'geojson',
                        data: '/oapif/collections/oapif_demo.area/items',
                    },
                },
                terrain: {
                    source: 'terrain',
                    exaggeration: 1
                },
                layers: [
                    {
                        id: "swisstopo",
                        type: "raster",
                        source: "swisstopo",
                        minzoom: 0,
                        maxzoom: 19
                    },
                    {
                        id: 'area-items',
                        type: 'fill',
                        source: 'area',
                        paint: {
                            'fill-color': AREA_COLOR,
                            'fill-opacity': 0.6,
                        }
                    },
                    {
                        id: 'apiary-items',
                        type: 'circle',
                        source: 'apiary',
                        paint: {
                            'circle-radius': 6,
                            'circle-color': APIARY_COLOR,
                            'circle-stroke-width': 1,
                            'circle-stroke-color': '#ffffff',
                        }
                    },
                    {
                        id: 'apiary-clusters',
                        type: 'circle',
                        source: 'apiary',
                        filter: ['has', 'point_count'],
                        paint: {
                            'circle-color': '#80cc28',
                            'circle-radius': 12,
                        },
                    },
                    {
                        id: 'apiary-clusters-labels',
                        type: 'symbol',
                        source: 'apiary',
                        filter: ['has', 'point_count'],
                        layout: {
                            'text-field': ['get', 'point_count_abbreviated'],
                            'text-font': ['Frutiger Neue Condensed Bold'],
                            'text-size': 12,
                            'text-allow-overlap': true,
                            'text-ignore-placement': true,
                        },
                        paint: {
                            'text-color': '#ffffff',
                        },
                    },
                    {
                        id: 'apiary-labels',
                        type: 'symbol',
                        source: 'apiary',
                        filter: ['!', ['has', 'point_count']],
                        layout: {
                            'text-field': [
                                'concat',
                                ['to-string', ['/', ['get', 'bee_amount'], 1000]], 'k Bees (',
                                ['to-string', ['get', 'nbr_of_boxes']], ' Boxes)'
                            ],
                            'text-font': ['Frutiger Neue Condensed Bold'],
                            'text-size': 12,
                            'text-anchor': 'left',
                            'text-offset': [1.0, 0]
                        },
                        paint: {
                            'text-color': APIARY_COLOR,
                            'text-halo-color': '#ffffff',
                            'text-halo-width': 1,
                        }
                    },
                    {
                        id: 'area-labels',
                        type: 'symbol',
                        source: 'area',
                        layout: {
                            'text-field': ['get', 'plant_species'],
                            'text-font': ['Frutiger Neue Condensed Italic'],
                            'text-size': 13,
                            'text-anchor': 'center',
                        },
                        paint: {
                            'text-color': AREA_COLOR,
                            'text-halo-color': '#ffffff',
                            'text-halo-width': 1,
                        },
                    }
                ]
            },
        });
        map.addControl(new maplibregl.NavigationControl());
        map.addControl(new maplibregl.TerrainControl({source: 'terrain', exaggeration: 1}));

        let selected_feature = undefined;
        map.on('mousemove', (e) => {
            const features = map.queryRenderedFeatures(e.point, {
                layers: ['area-items', 'apiary-items', 'apiary-labels'],
                filter: ['!', ['has', 'point_count']],
            });
            if (features.length > 0) {
                map.getCanvas().style.cursor = 'pointer';
                selected_feature = features[0];
            } else {
                map.getCanvas().style.cursor = '';
                selected_feature = undefined;
            }
        });
        map.on('click', (e) => {
            if (selected_feature == undefined) return;
            window.location.href = `/admin/oapif_demo/${selected_feature.layer.source}/${selected_feature.properties.uuid}`
        });
        map.once('idle', (e) => {
            document.getElementById('map').classList.remove('loading');
            map.triggerRepaint();
        })
    });
</script>
<style>
    #map.loading {
        pointer-events: none;
    }
    #map.loading .maplibregl-canvas-container {
        opacity: 0%;
    }
    #map .maplibregl-canvas-container {
        transition: opacity .4s;
        opacity: 100%;
    }
    #loading {
        font-size: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}

{% block content %}
    <div class="module border-b border-base-200 dark:border-base-800 mb-5">
        <div id="map-container" class="bg-base-50 dark:bg-base-800 mb-6 rounded-default overflow-hidden w-full relative" style="height: min(50vh, 450px);">
            <span id="loading" class="absolute ml-auto material-symbols-outlined text-base-300 dark:text-base-600">map</span>
            <div id="map" class="loading w-full h-full"></div>
        </div>
    </div>
    <div class="module border-b border-base-200 dark:border-base-800 mb-5">
        <div class="bg-base-50 mb-6 rounded-default p-3 dark:bg-base-800">
            <table class="border border-base-400/10 border-spacing-none border-separate rounded-default overflow-hidden shadow-xs w-full dark:border-base-800">
                <caption class="font-semibold mb-3 text-base-900 text-left dark:text-base-100">
                    QGIS Files
                </caption>
                <tbody>
                    <tr class="bg-white dark:bg-base-900 model-group">
                        <th scope="row" class="font-normal p-3 text-left ">
                            <div class="flex items-center">
                                <span class="material-symbols-outlined pr-2">key</span>
                                <a download="auth.xml" href="{% url 'download_qgs_auth' %}">Download authentication file</a>
                                <span style="color: var(--color-base-500)">&nbsp(Import in Settings > Options > Authentication > Utilities > Import Authentication Configurations from File)</span>
                            </div>
                        </th>
                    </tr>
                    <tr class="bg-white dark:bg-base-900 model-group">
                        <th scope="row" class="font-normal p-3 text-left border-b border-base-100 dark:border-base-800">
                            <div class="flex items-center">
                                <img src="https://raw.githubusercontent.com/qgis/QGIS/refs/heads/master/images/icons/qgis_qgs_icon.svg" class="pr-2" alt="QGIS Project" style="height: 1rem">
                                <a download href="{% static 'qgis/bees.qgs' %}">Download QGIS project</a>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ block.super }}
{% endblock %}