{% extends "admin/index.html" %}
{% load i18n static %}

{% block content %}
    <div class="module border-b border-base-200 dark:border-base-800  mb-5">
        <div class="bg-base-50 mb-6 rounded-default p-3 dark:bg-base-800">
            <table class="border border-base-400/10 border-spacing-none border-separate rounded-default overflow-hidden shadow-xs w-full dark:border-base-800">
                <caption class="font-semibold mb-3 text-base-900 text-left dark:text-base-100">
                    QGIS Files
                </caption>
                <tbody>
                    <tr class="bg-white dark:bg-base-900 model-group">
                        <th scope="row" class="font-normal p-3 text-left ">
                            <div class="flex items-center">
                                <span class="material-symbols-outlined pr-2">key</span>
                                <a download="auth.xml" href="{% url 'download_qgs_auth' %}">Download authentication file</a>
                                <span style="color: var(--color-base-500)">&nbsp(Import in Settings > Options > Authentication > Utilities > Import Authentication Configurations from File)</span>
                            </div>
                        </th>
                    </tr>
                    <tr class="bg-white dark:bg-base-900 model-group">
                        <th scope="row" class="font-normal p-3 text-left border-b border-base-100 dark:border-base-800">
                            <div class="flex items-center">
                                <img src="https://raw.githubusercontent.com/qgis/QGIS/refs/heads/master/images/icons/qgis_qgs_icon.svg" class="pr-2" alt="QGIS Project" style="height: 1rem">
                                <a download href="{% static 'qgis/bees.qgs' %}">Download QGIS project</a>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
